---
import Footer from "../../componenti/footer.astro";
import Navbar from "../../componenti/navbar/navbar.astro";
import Layout from "../../layouts/Layout.astro";
import Galleria from "../../componenti/immobile-singolo/galleria.svelte";
import AstroConfig from "../../../astro.config.mjs";
import ListaImmobili from "../../componenti/immobili/lista-immobili.svelte";
interface Props {
  id: string;
}

const { id } = Astro.params;

const url = `https://privato.gruppoedoardo.it/wp-json/wp/v2/immobili/${id}`;

const res = await fetch(url);
let risultato: any = await res.json();
let immobile: {
  acf: {
    prezzo: string;
    contratto: string;
    tipologia: string;
    superficie: number;
    zona: string;
    locali: number;
    camere_da_letto: number;
    bagni: number;
    cucina: number;
    altri_locali: number;
    piano: string;
    totale_piani_edificio: string;
    con_ascensore: boolean;
    garage_o_parcheggi: string;
    anno_di_costruzione: number;
    locali_copia2: null;
    descrizione: string;
    agente: number;
    indirizzo_immobile: any;
    galleria: string[];
  };
  galleriaSrc: {
    [key: string]: {
      media: string;
      large: string;
    };
  };
  agente: {
    immagine: string;
    nome: string;
    cognome: string;
    email: string;
    telefono: string;
  } | null;
};
if (risultato.data && risultato.data.status == 404) {
  return Astro.redirect("/404");
} else {
  immobile = risultato;
}

function ottieniDettagli(): { nome: string; testo: string }[] {
  let ritorno: { nome: string; testo: string }[] = [];
  let contatore = 0;
  function aggiungi(nome: string, testo: string) {
    if (testo == "") return;
    ritorno[contatore] = { nome, testo };
    contatore++;
  }

  aggiungi("Prezzo", `€ ${prezzo}`);
  aggiungi("Contratto", immobile.acf.contratto);
  aggiungi("Camere da letto", immobile.acf.camere_da_letto.toString());
  aggiungi("Piani edificio", immobile.acf.totale_piani_edificio);
  aggiungi("Anno di costruzione", immobile.acf.anno_di_costruzione.toString());
  aggiungi("Altri locali", immobile.acf.altri_locali.toString());
  aggiungi("Piano", immobile.acf.piano);
  aggiungi("Ascensore", immobile.acf.con_ascensore ? "Sì" : "No");

  return ritorno;
}
let prezzo: number | string = parseInt(immobile.acf.prezzo) ?? 0;
prezzo = isNaN(prezzo) ? immobile.acf.prezzo : prezzo.toLocaleString();
export const prerender = false;
---

<Layout
  title={`${immobile.acf.tipologia}, ${immobile.acf.indirizzo_immobile.name}`}
  descrizione={`Immobile ${immobile.acf.indirizzo_immobile.street_name} del Gruppo edoArdo. Propone questo allaggio in ${immobile.acf.indirizzo_immobile.name} scropri tutti i dettagli`}
>
  <Navbar />
  <div class="py-15 flex flex-col gap-5 p-5 md:px-20">
    <!-- intestazione -->
    <div>
      <h1 class="text-3xl md:text-4xl">
        {immobile.acf.tipologia}, {immobile.acf.indirizzo_immobile.name}
      </h1>
      <span
        >{immobile.acf.indirizzo_immobile.city} - {immobile.acf.zona} - {
          immobile.acf.indirizzo_immobile.name
        }</span
      >
    </div>
    <!-- fine intestazione -->

    <div>
      <Galleria galleriaSrc={immobile.galleriaSrc} galleriaId={immobile.acf.galleria} client:idle />
    </div>

    <div>
      <span class="sotto-titolo block">Prezzo</span>
      <span class="text-poppins text-xl text-blue-600">€ {prezzo}</span>
    </div>

    <div>
      <span class="sotto-titolo"> Descrizione</span>
      <p set:html={immobile.acf.descrizione} />
    </div>

    <!-- mappa -->
    <div>
      <span class="sotto-titolo">Mappa</span>
      <div class="relative aspect-video w-[100%] md:max-w-[50%]">
        <iframe
          class="absolute h-full w-full"
          width="600"
          height="450"
          style="border: 0"
          loading="lazy"
          allowfullscreen=""
          src={`https://www.google.com/maps/embed/v1/place?key=AIzaSyBbQ_3ne4cskhoqYSvly6JIMPmBfic55ZU&q=${immobile.acf.indirizzo_immobile.street_name}`}
        ></iframe>
      </div>
    </div>

    <!-- caratterische -->
    <div>
      <span class="sotto-titolo">Caratterische</span>
      <div class="mb-2 h-0.5 bg-slate-200"></div>
      <div class="grid grid-cols-2 items-center gap-2 md:max-w-[70%]">
        {
          ottieniDettagli().map((dettagli) => (
            <>
              <span class="">{dettagli.nome}</span>
              <span class="text-sm text-gray-600 md:text-base">{dettagli.testo}</span>
            </>
          ))
        }
      </div>
    </div>

    <!-- Agente -->
    {
      immobile.agente && (
        <>
          <div>
            <span class="sotto-titolo">Agente</span>
            <div class="flex flex-col gap-3">
              <div>
                <img
                  src={immobile.agente.immagine}
                  alt={`immagine di profilo di ${immobile.agente.nome}`}
                  loading="lazy"
                />
              </div>

              <span class="text-xl">
                {immobile.agente.nome}
                {immobile.agente.cognome}
              </span>

              <div class="flex flex-wrap gap-3 [&>*]:rounded  [&>*]:bg-blue-500  [&>*]:p-3 [&>*]:text-white">
                <span>📞 {immobile.agente.telefono}</span>
                <span>✉️ {immobile.agente.email}@gruppoedoardo.it</span>
              </div>
            </div>
          </div>
          <div>
            <span class="sotto-titolo">Altri immobili dell'agente</span>
            <div>
              <ListaImmobili
                urlImmobili={`https://privato.gruppoedoardo.it/wp-json/immobili/agente/${immobile.acf.agente}`}
                client:visible
              />
            </div>
          </div>
        </>
      )
    }
  </div>
  <Footer />
</Layout>
