---
import Footer from "../componenti/footer.astro";
import Immagine from "../componenti/immagine.astro";
import Navbar from "../componenti/navbar/navbar.astro";
import { useTranslations } from "../i18n/utilis";
import Layout from "../layouts/Layout.astro";
import type { Language, UI } from "../i18n/ui";
import { Image } from "astro:assets";

type agentiType = {
  acf: {
    nome: string;
    cognome: string;
    email: string;
    telefono: string;
    presentazione: string;
    foto_profilo: number;
  };
  images: {
    medium: string;
    large: string;
  };
};

interface Props {
  lang: Language;
}
const { lang = "it" } = Astro.props;

const response = await fetch(
  "https://privato.gruppoedoardo.it/wp-json/wp/v2/agenti",
);
const agenti: agentiType[] = await response.json();

const ui: UI = {
  it: {
    realEstateAgent: "Agente Immobiliare",
    backToHome: "Torna alla Home",
  },
  en: {
    realEstateAgent: "Real Estate Agent",
    backToHome: "Back to Home",
  },
};

const t = useTranslations(lang, ui);

//  https://privato.gruppoedoardo.it/wp-json/wp/v2/agenti

function generaTelefono(telefono: string): string {
  let tel = telefono.replace(/\s/g, "");
  if (tel.length == 9) {
    return tel.replace(/(\d{3})(\d{3})(\d{3})/, "$1 $2 $3");
  }
  return tel.replace(/(\d{3})(\d{3})(\d{4})/, "$1 $2 $3");
}
---

<Layout
  title="Gruppo Edoardo"
  descrizione="Conosci il team di Edoardo Immobiliare, la tua squadra di esperti immobiliari pronti a fornirti il miglior servizio e a trovare la casa dei tuoi sogni. Con anni di esperienza nel settore immobiliare e una vasta conoscenza del mercato, il nostro team è la scelta perfetta per la tua prossima transazione immobiliare."
>
  <Navbar {lang} />
  <div class="m-10 md:mx-20">
    <a
      class="my-5 block w-fit rounded bg-blue-600 p-5 py-3 text-white"
      href="../"
    >
      🏠 {t("backToHome")}</a
    >
    <div class="grid grid-cols-fill-19 gap-5">
      {
        agenti.map((agente) => (
          <div class="flex flex-col border bg-white drop-shadow transition-all hover:scale-[1.03]">
            <Image
              src={`${agente.images.large as string}`}
              alt="A description of my image."
              height="400"
              width={330}
            />
            <div class=" flex flex-col bg-primario p-10 text-white">
              <span class="w-fit text-xl ">
                {agente.acf.nome} {agente.acf.cognome}
              </span>
              <span class="text-xs">{t("realEstateAgent")}</span>
              <a href={`tel:${agente.acf.telefono}`} class="mt-5">
                📞 +39 {generaTelefono(agente.acf.telefono)}
              </a>
              <a href={`mailto:${agente.acf.email}`}>
                ✉️ {agente.acf.email}@gruppoedoardo.it
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <Footer />
</Layout>
